.main{
            
    padding: 1%;            
}
.w-100{
    width: 100%;
}
.search{
    margin-top: 5%;
}
.results{
    margin-top: 5%;
    padding: 5%;
    align-content: center;
}
.video{
    margin-left: 1%;
}