.main{
            
    padding: 1%;            
}
.w-100{
    width: 100%;
}
.search{
    margin-top: 5%;
}
.results{
    margin-top: 5%;
    padding: 5%;
    align-content: center;
}
.video{
    margin-left: 1%;
}

.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}